.container {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-rows: 50px;
    grid-auto-rows: 200px;
    grid-template-columns: 50px;
    grid-auto-columns: 100px;
}

.container > div {
    background-color: lightcoral;
    border: 1px solid black;
}