.container{
    display: grid;
    grid-template-areas: "img1 img1 img2"
    "img3 img4 img5";
    height: 90vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:200px 300px ;
    grid-gap: 10px 10px;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
}

.img1{
    grid-area: img1;
    
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}
.img4{
    grid-area: img4;
}
.img5{
    grid-area: img5;
}